@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: flex;
  align-items: center;
  padding: 22px 26px 22px 48px;
  border-radius: 12px;
  background-color: rgba($color: #c4c4c4, $alpha: 0.15);
  max-width: 544px;
  justify-content: space-between;
  width: 100%;
  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    text-transform: capitalize;
    color: #ffffff;
    max-width: 137px;
  }

  @media (max-width: $md) {
    padding: 26px;
    flex-direction: column;
    h3 {
      max-width: 100%;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}

.container {
  :global {
    .swiper-container {
      padding: 0 30px;
      max-width: 320px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 100px;
        width: 30px;
        background-color: rgba(67, 73, 85, 1);
        left: -2px;
        top: 0;
        z-index: 3;
      }
      &::after {
        content: '';
        left: unset;
        right: -2px;
      }
      @media (max-width: $md) {
        max-width: 290px;
      }
    }
    .next,
    .prev {
      position: absolute;
      top: 50%;
      left: 0;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      cursor: pointer;
      z-index: 11;
    }
    .prev {
      transform: rotate(135deg);
      left: 2px;
    }
    .next {
      left: unset;
      right: 2px;
      transform: rotate(-45deg);
    }
    .prev.swiper-button-disabled,
    .next.swiper-button-disabled {
      opacity: 0.3;
    }
  }
}
