@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  background: rgba(234, 237, 242, 0.7);
  border: 1px solid #D0DAEB;
  border-radius: 8px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  &.selected {
    background-image: $green-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.name {
  font-family: $font-gramatika;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.notice {
  font-weight: 300;
  font-size: 14px;
}

.label {
  position: relative;

  display: block;
  margin: 0 18px;

  input {
    display: none;
  }
}

.icon {
  display: block;
  border-radius: 100px;
  width: 68px;
  height: 32px;
  cursor: pointer;

  background: linear-gradient(89.52deg, #24b04b -46.17%, #0263bc 186.99%);
  opacity: 0.2;
}

.pointer {
  $size: 26px;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: block;
  margin-left: 3px;
  border-radius: 50%;
  width: $size;
  height: $size;

  background: $green-gradient;

  transition: 0.3s;

  &.selected {
    left: 100%;
    transform: translateY(-50%) translateX(-100%);

    margin-left: -3px;
  }
}
