@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.label {
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: $main-light;
  margin-right: 10px;
}

.wrapper {
  position: relative;
}

.input {
  width: 175px;
  background: $grey;
  border-radius: 8px 4px;
  padding: 10px 55px;
  height: 48px;
  font-family: $font-gramatika;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: $main-light;
  letter-spacing: 0.05em;
  box-shadow: none;
  border: none;
  text-align: center;

  &::placeholder {
    position: relative;
    opacity: 0.75;
  }
  &:focus {
    box-shadow: inset 0 0 0 1px $main-light;
    outline: none;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: rgba($main-light, 0.05);
  box-shadow: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;

  &:first-of-type {
    left: 8px;
  }
  &:last-of-type {
    right: 8px;
  }

  &:hover {
    cursor: pointer;
    background: rgba($main-light, 0.1);
  }
  &:focus {
    outline: none;
  }
}
