@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1160px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $md) {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.subtitle {
  margin-top: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-transform: capitalize;

  @media (min-width: $md) {
    margin-top: 0;
    margin-right: 32px;
  }
}

.button {
  max-width: 324px;
}
