@import '@styles/variables/all';
@import '@styles/mixins/all';

.hero {
  position: relative;
  z-index: 10;
  padding: 64px 20px 40px;
  margin-bottom: 126px;
  &::after {
    content: '';
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 120%;
    background: linear-gradient(
        180deg,
        rgba(247, 249, 251, 0) 86.54%,
        #f6f8fa 100%
      ),
      url('./image/bg-hero.png');
    background-size: cover;
    top: -100px;
    left: 0;
    opacity: 0.65;
  }

  @media (max-width: $md) {
    &::after {
      display: none;
    }
  }

  @media (max-width: $md) {
    padding-top: 48px;
    margin-bottom: 48px;
  }
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

.title {
  margin: 0 auto 16px;

  h1,
  h2 {
    font-family: $font-gramatika;
    font-weight: 400;
    font-size: 42px;
    line-height: 130%;
    text-transform: capitalize;
    text-align: center;
    color: $main-light;
    strong {
      font-family: $font-gramatika-black;
      font-weight: 900;
      color: $green;
      letter-spacing: 0.03em;
    }
    @media (max-width: $lg) {
      font-size: 32px;
    }
    @media (max-width: $md) {
      font-size: 28px;
    }
  }
}

.subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  opacity: 0.75;
  color: $main-light;
  text-align: center;
}

.wrapper {
  margin-top: 48px;
  display: flex;
  @media (max-width: $md) {
    flex-direction: column;
  }
}

.benefit {
  padding: 32px 24px;
  background: linear-gradient(89.59deg, #24b04b -46.17%, #0263bc 186.99%);
  box-shadow: 0px 50px 70px rgba(44, 59, 82, 0.15);
  border-radius: 30px 12px;
  max-width: 256px;
  width: 100%;
  color: #ffffff;
  align-self: flex-start;
  @media (max-width: $md) {
    order: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-family: $font-gramatika;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
  }

  .list {
    position: relative;
    li {
      position: relative;
      padding-left: 38px;
      font-weight: 300;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: 0.05em;

      & + li {
        margin-top: 28px;
      }
      &::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        background-image: url('./image/checkmark.svg');
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      width: 41px;
      height: 41px;
      background:#fff;
      border-radius: 6.36654px 12.7331px;
      left: 316px;
      top: 314px;
      @media (max-width: $xl) {
        display: none;
      }
    }
  }

  .buttonWrapper {
    margin-top: 34px;

    a {
      padding: 0 18px 0;
    }
  }
}

.banner {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 50px 70px rgba(44, 59, 82, 0.15);
  border-radius: 20px;
  margin-left: 32px;
  padding: 26px 48px 48px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 768px;
  justify-content: space-between;
  &::after {
    content: '';
    position: absolute;
    z-index: -5;
    width: 83px;
    height: 83px;
    background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);
    opacity: 0.5;
    border-radius: 30px 12px;
    transform: rotate(270deg);
    right: -31px;
    top: 315px;
    @media (max-width: $xl) {
      display: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 41px;
    height: 41px;
    background: #fff;
    border-radius: 6.36654px 12.7331px;
    right: 40px;
    top: -50px;
    @media (max-width: $xl) {
      display: none;
    }
  }
  @media (max-width: $lg) {
    padding: 26px;
  }
  @media (max-width: $md) {
    order: 0;
    margin-left: 0;
    margin-bottom: 32px;
    flex-direction: column;
    padding: 24px 16px;
  }
  .block {
    max-width: 289px;
    text-align: left;
    @media (max-width: $md) {
      order: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .title {
    margin: 0 0 16px;
    h2 {
      text-align: left;
    }
  }
  .subtitle {
    text-align: left;
    margin-bottom: 32px;
    @media (max-width: $lg) {
      font-size: 14px;
    }
    @media (max-width: $lg) {
      text-align: center;
    }
  }
  .buttonWrapper {
    max-width: 224px;
    width: 100%;
  }

  .imageWrapper {
    position: relative;
    max-width: 304px;
    @media (max-width: $md) {
      margin-bottom: 24px;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -5;
      width: 67px;
      height: 67px;
      background: linear-gradient(180deg, #FEA496 0%, #FCD798 100%);
      opacity: 0.9;
      border-radius: 21.1753px 10.5876px;
      transform: rotate(-180deg);
      bottom: 0;
      left: -440px;
      top: 312px;
      @media (max-width: $xl) {
        display: none;
      }
    }
    &::after {
      content: '';
      position: absolute;
      z-index: -5;
      width: 80px;
      height: 74px;
      background: linear-gradient(135deg, #FEA496 0.29%, #FCD798 99.67%);
      opacity: 0.9;
      border-radius: 30px 5px;
      transform: rotate(-180deg);
      bottom: 0;
      right: -72px;
      top: -39px;
      @media (max-width: $xl) {
        display: none;
      }
    }
  }

  .playButtonWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @media (max-width: $lg) {
      width: 100%;
    }
  }
  .playButtonText {
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .playButton {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
}
