@import '@styles/variables/all';
@import '@styles/mixins/all';
.container {
  position: relative;
  max-width: 704px;
  width: 100%;
  height: 100%;
  padding: 40px 50px 50px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 50px 5px;
  box-shadow: 0px 5.81595px 72.6994px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  box-sizing: border-box;
  @media (max-width: $lg) {
    max-width: 80%;
  }
  @media (max-width: $md) {
    max-width: 272px;
    border-radius: 8px 30px;
    padding: 32px 24px;
    box-shadow: 0px 30px 50px rgba(44, 59, 82, 0.15);
  }
}

.user {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 30px;
  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba($main-dark, $alpha: 0.1);
  }
}

.photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  grid-row: 1/3;
  @media (max-width: $md) {
    width: 66px;
    height: 66px;
    margin-bottom: 45px;
  }
}

.name {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-top: 10px;
  @media (max-width: $md) {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 0;
  }
}

.position {
  font-weight: 300;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.05em;
  opacity: 0.75;
  color: $second-dark;
  grid-column: 2/2;
}

.review {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: $green-gradient;
  b {
    font-weight: 600;
  }
  @media (max-width: $md) {
    font-size: 16px;
  }
}

.quote {
  position: absolute;
  top: -20px;
  right: 50px;
  @media (max-width: $md) {
    top: -13px;
    right: 20px;
  }
}
