@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  width: 100%;
  margin: 0 auto;
  z-index: 4;
}

.cards {
  padding: 24px;
  display: flex;
}

.cardsmobile {
  display: flex;
  border-radius: 20px;
  padding: 24px;
  padding-bottom: 75px;
}
