@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 289px 20px 192px 20px;

  @media (max-width: $lg) {
    padding: 188px 0 0 0;
  }
}

.background {
  position: absolute;
  top: 185px;
  left: 20px;
  z-index: -1;
  width: calc(100% - 40px);
  height: 354px;
  background: linear-gradient(
      180deg,
      rgba(247, 249, 251, 0) 86.54%,
      #f6f8fa 100%
    ),
    url('./image/bg.png');
  background-position: center;
  background-size: 1216px 796px;
  border-radius: 12px 50px;
  mix-blend-mode: luminosity;

  @media (max-width: $lg) {
    display: none;
  }

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $main-light;
    border-radius: 12px 50px;
    opacity: 0.03;
    content: '';
  }
}

.content {
  position: relative;
  max-width: 896px;
  margin: 0 auto;
  padding: 54px 76px 96px 0;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 30px 120px rgba(46, 66, 70, 0.2);

  @media (max-width: $lg) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 30px 35px rgba(46, 66, 70, 0.2);
  }

  @media (max-width: $md) {
    padding: 48px 32px 56px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  max-width: 640px;
  margin: 0 0 0 130px;

  @media (max-width: $lg) {
    margin: 0 0 0 65px;
  }

  @media (max-width: $md) {
    max-width: 600px;
    margin: 0;
  }
}

.title {
  color: $main-light;
  font-weight: bold;
  font-size: 48px;
  font-family: $font-gramatika;
  line-height: 115%;
  text-align: center;
  text-transform: capitalize;

  @media (max-width: $md) {
    font-size: 32px;
  }
}

.subtitle {
  color: $main-light;
  font-weight: 300;
  font-size: 18px;
  font-family: $font-sofia-pro;
  font-style: normal;
  line-height: 180%;
  text-align: center;
  opacity: 0.75;

  @media (max-width: $md) {
    font-size: 16px;
  }
}

.divider {
  align-self: center;
  width: 320px;
  height: 1px;
  margin: 64px 0;
  background: $green-gradient;
  border-radius: 1px;

  @media (max-width: $md) {
    width: 75%;
    margin: 32px 0;

    &--grey {
      margin: 24px 0;
    }
  }

  &--grey {
    margin: 48px 0;
    background: $grey;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 0 0 0 130px;

  @media (max-width: $lg) {
    margin: 0 0 0 65px;
  }

  @media (max-width: $md) {
    max-width: 100%;
    margin: 0;
  }
}
