@import '@styles/variables/all';
@import '@styles/mixins/all';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: none;
  height: 52px;
  font-family: $font-sofia-pro;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 20px 5px;
  padding: 0;
  letter-spacing: 0.1em;
  padding-top: 3px;
  &:hover {
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.fullWidth {
  width: 100%;
}

.primary {
  background: $main-gradient;
  color: #fff;
  z-index: 2;
  padding: 0 30px;
  &::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 16px;
    background: $main-gradient;
    filter: blur(30px);
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: 0.3s;
    z-index: -1;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &:active {
    background: $dark-gradient $main-gradient;
  }
}

.secondary {
  background: $green-gradient;
  color: #fff;
  z-index: 2;
  padding: 0 30px;
  &::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 16px;
    background: $green-gradient;
    filter: blur(40px);
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: 0.3s;
    z-index: -1;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &:active {
    background: $dark-gradient, $green-gradient;
  }
}

.transparent {
  background: transparent;
  color: $main-light;
  z-index: 2;
  border: 1px solid rgba($color: $main-light, $alpha: 0.3);
  transition: 0.3s;
  padding: 0 30px;
  &:hover {
    border-color: $green;
    color: $green;
  }

  &:active {
    color: $darken-green;
    border-color: $darken-green;
  }
}

.green {
  background: transparent;
  z-index: 2;
  border: 1px solid $green;
  color: $green;
  transition: border-color 0.3s;
  padding: 0 30px;

  &:hover {
    color: darken($green, 10%);
    border-color: darken($green, 10%);
  }

  &:active {
    border-color: darken($green, 30%);
  }
}

.header {
  height: 48px;
  @media (max-width: 767px) {
    font-size: 12px;
    padding: 0 16px;
  }
}

.white {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  color: $main-light;
}
