@import "@styles/variables/all";
@import "@styles/mixins/all";
.testimonials {
  background-color: #f7f9fb;
}
.container {
  position: relative;
  max-width: 900px;
  margin: -180px auto 0;
  padding: 0 16px;
  @media (max-width: $lg) {
    margin-top: -90px;
  }
  @media (max-width: $md) {
    padding: 0;
    margin-top: -70px;
  }
}
.slide {
  padding: 60px 0 60px;
  max-width: 100%;
  &[class~="swiper-slide"] {
    height: auto;
  }
  @media (max-width: $md) {
    width: auto !important;
    padding-bottom: 80px;
  }
}

.next,
.prev {
  position: absolute;
  top: 50%;
  z-index: 11;
  cursor: pointer;
  svg path {
    transition: 0.3s;
  }
  &:not(:hover) {
    svg path {
      fill: $main-dark;
    }
  }
  &[class~="swiper-button-disabled"] {
    opacity: 0.3;
  }
  @media (max-width: $md) {
    display: none;
  }
}

.next {
  right: 0;
  transform: scale(-1);
}
.prev {
  left: 0;
}
