@import '@styles/variables/all';
@import '@styles/mixins/all';

.features {
  position: relative;
  padding: 64px;

  &::before {
    content: '';
    position: absolute;
    width: 195px;
    height: 175px;
    background: linear-gradient(
      243.67deg,
      #00ce7b -2.64%,
      rgba(82, 119, 192, 0) 111.75%
    );
    opacity: 0.25;
    filter: blur(30px);
    border-radius: 30px 5px;
    transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);
    top: -20px;
    left: -60px;
    @media (max-width: $md) {
      display: none;
    }
  }
  @media (max-width: $lg) {
    padding: 48px 0;
  }
}

.title {
  margin-bottom: 32px;
  h2 {
    font-family: $font-gramatika;
    font-weight: 400;
    font-size: 42px;
    line-height: 130%;
    text-align: center;
    strong {
      font-family: $font-gramatika-black;
      font-weight: 900;
      color: $green;
      letter-spacing: 0.03em;
    }
    @media (max-width: $md) {
      padding: 0 16px;
      text-align: left;
      font-size: 28px;
      margin-bottom: 16px;
    }
  }
}

.features [class~='swiper-container'] {
  padding: 0 16px;
  @media (min-width: 767px) {
    padding: 0 32px;
  }
  @media (min-width: 1150px) {
    overflow: unset;
    max-width: 1152px;
    margin: 0 auto;
    padding: 0;
  }
}
.features [class~='swiper-wrapper'] {
  @media (min-width: 1150px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.slide {
  width: 320px;
  margin-bottom: 64px;
  text-align: center;
  @media (max-width: $lg) {
    width: 280px;
    margin-bottom: 0;
    height: auto;
    text-align: left;
  }
  .image {
    border-radius: 8px;
    margin-bottom: 32px;
    @media (max-width: $lg) {
      margin-bottom: 16px;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    color: $main-light;
    margin-bottom: 16px;
    @media (max-width: $lg) {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: $main-light;
    @media (max-width: $lg) {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.button {
  text-align: center;
  @media (max-width: $lg) {
    margin-top: 48px;
  }
}
