@import '@styles/variables/all';
@import '@styles/mixins/all';

.background {
  &:before,
  &:after {
    opacity: 1 !important;
  }
}

.articles {
  position: relative;
  padding: 68px 16px 64px;
  @media (max-width: $lg) {
    &::after {
      display: none;
    }
  }
  @media (max-width: $md) {
    padding: 64px 0 38px;
  }
}
.title h2 {
  font-family: $font-gramatika;
  font-weight: 400;
  font-size: 42px;
  line-height: 125%;
  margin: 0 auto 48px;
  text-align: center;
  strong {
    font-family: $font-gramatika-black;
    font-weight: 900;
    color: $green;
    letter-spacing: 0.03em;
    
  }
  @media (max-width: $md) {
    padding: 0 16px;
    font-size: 28px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 96px;
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: 1152px;
  align-items: stretch;

  @media (max-width: $lg) {
    gap: 64px;
    margin-bottom: 64px;
  }

  @media (max-width: 1050px) {
    gap: 48px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $md) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-bottom: 64px;
    padding: 0 16px;
  }

  @media (max-width: $sm) {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 64px;
  }
}

.button {
  display: flex;
  justify-content: center;
}
