@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  margin: 0 auto;
  max-width: 1160px;

  :global(.swiper-wrapper) {
    flex-direction: unset;

    @media (min-width: 768px) {
      padding-bottom: 80px;
    }
  }

  :global {
    .swiper-pagination-progressbar {
      width: calc(100% - 280px);
      height: 1px;
      right: 24px;
      bottom: 20px;
      position: absolute;
      background: #e4eef0;
      @media (max-width: $lg) {
        width: 73%;
      }
    }

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      position: absolute;
      left: 0px;
      top: -1px;
      width: 100%;
      height: 3px;
      transform: scale(0);
      transform-origin: left top;
      background: linear-gradient(84.38deg, #24b04b -46.17%, #0263bc 186.99%);
      border-radius: 3px;
    }
    .swiper-slide {
      height: auto;
    }
    .prev,
    .next {
      outline: none;
      top: unset;
      bottom: 10px;
      left: 23px;
    }
    .next {
      right: unset;
      left: 110px;
    }
  }
}

.slide {
  padding: 24px;

  @media (max-width: 768px) {
    padding: 16px;
  }
}
