@import '@styles/variables/all';
@import '@styles/mixins/all';

.articles {
  position: relative;
  padding: 68px 16px 64px;
  background-image: url('./image/bg.png');
  background-size: cover;
  @media (max-width: $lg) {
    &::after {
      display: none;
    }
  }
  @media (max-width: $md) {
    padding: 64px 0 38px;
  }
}
.title h2 {
  font-family: $font-gramatika;
  font-weight: 400;
  font-size: 42px;
  line-height: 130%;
  margin: 0 auto 56px;
  text-align: center;
  strong {
    font-family: $font-gramatika-black;
    font-weight: 900;
    color: $green;
    letter-spacing: 0.03em;
    text-transform: capitalize;
  }
  @media (max-width: $md) {
    padding: 0 16px;
    text-align: left;
    font-size: 28px;
  }
}

.list {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1152px;
  margin: 0 auto;
  align-items: stretch;
  margin-bottom: 100px;
  @media (max-width: $lg) {
    flex-wrap: wrap;
  }
  @media (max-width: $md) {
    justify-content: center;
    margin-bottom: 64px;
  }
}
.button {
  display: flex;
  justify-content: center;
}
