@import '@styles/variables/all';
@import '@styles/mixins/all';

.plans {
  position: relative;
  padding: 68px 64px 96px;
  background-color: #f7f9fb;
  text-align: center;
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    height: 512px;
  }

  @media (max-width: $md) {
    padding: 55px 16px 55px;
  }

  @media (min-width: $lg) {
    &::before {
      background-image: url('./image/bg-left.svg');
      width: 200px;
      left: 0;
      top: 70px;
    }
    &::after {
      background-image: url('./image/bg-rigth.svg');
      width: 150px;
      right: 0;
      top: 70px;
    }
  }
}

.title h2 {
  font-family: $font-gramatika;
  font-weight: 400;
  font-size: 42px;
  line-height: 130%;
  max-width: 500px;
  margin: 0 auto 50px;
  text-transform: capitalize;
  strong {
    font-family: $font-gramatika-black;
    font-weight: 900;
    color: $green;
    letter-spacing: 0.03em;
    text-transform: capitalize;
  }
  @media (max-width: $md) {
    text-align: left;
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
  @media (max-width: $lg) {
    justify-content: center;
  }
  @media (max-width: $md) {
    flex-direction: column;
    align-items: center;
  }
}
