@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  margin: 96px auto 0;
  padding: 0 16px;
  max-width: 1084px;

  @media (min-width: $md) {
    margin-top: 128px;
  }
}

.title {
  font-family: $font-gramatika-black;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: $second-dark;

  @media (min-width: $md) {
    display: none;
  }
}

.companies {
  margin-top: 24px;

  @media (min-width: $md) {
    margin-top: 0;
  }

  :global {
    .swiper-wrapper {
      align-items: center;

      @media (min-width: $md) {
        justify-content: space-between;
      }
    }
  }
}


.slide {
  text-align: center;

  img {
    opacity: 0.3;
  }

  @media (min-width: $md) {
    max-width: 150px;

    text-align: left;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.companies {
  display: flex;
  align-items: center;
  margin-left: 32px;
  width: 100%;
  max-width: 100%;
  .companyLogo {
    filter: grayscale(100%);
    opacity: 0.3;
    max-width: 100px;
    width: 100%;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: $md) {
    margin-left: 0;
    margin-top: 20px;
    .сompanyLogo {
      max-width: 70px;
    }
  }
}
