@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 864px;

  animation: appearance 0.3s 1 forwards;
}

.container {
  display: flex;
}

.switcher {
  width: 240px;
}

.card {
  flex: 1 1 280px;
  margin-left: 16px;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
