@import '@styles/variables/all';
@import '@styles/mixins/all';

.hero {
  position: relative;
  padding: 180px 20px 210px;
  margin-top: 80px;
  background-size: cover;
  &::before {
    content: '';
    position: absolute;
    width: 195px;
    height: 175px;
    background: linear-gradient(
      243.67deg,
      #00ce7b -2.64%,
      rgba(82, 119, 192, 0) 111.75%
    );
    opacity: 0.25;
    filter: blur(40px);
    border-radius: 30px 5px;
    transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);
    bottom: 0;
    left: -100px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./image/bg.png');
    background-size: cover;
    top: 0;
    left: 0;
    opacity: 0.65;
  }
  @media (max-width: $lg) {
    padding: 140px 16px 200px;
    &::before {
      display: none;
    }
  }
  @media (max-width: $md) {
    margin-top: 94px;
    padding-top: 112px;
    overflow-x: hidden;
  }

  :global {
    .swiper-container {
      width: 100%;
    }
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
    }
  }
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 64px;
  justify-content: space-between;
  box-sizing: border-box;
  @media (max-width: $lg) {
    padding-left: 0;
  }
  @media (max-width: $md) {
    flex-direction: column;
    max-width: 500px;
    align-items: center;
  }
}

.mobileImagesWrapper {
  display: none;
  @media (max-width: $md) {
    display: flex;
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
  }
}
.content {
  position: relative;
  max-width: 450px;
  width: 50%;
  margin-right: 20px;
  z-index: 4;
  @media (max-width: $md) {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
}
.upTitle {
  font-family: $font-gramatika;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 12px;
  @media (max-width: $lg) {
    font-size: 10px;
  }
}
.title {
  font-family: $font-gramatika;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.15;
  margin-bottom: 16px;
  @media (max-width: $lg) {
    font-size: 36px;
  }
}

.descr p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  opacity: 0.75;
  margin-bottom: 45px;
  @media (max-width: $lg) {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.buttonWrapper {
  width: 515px;
  display: flex;
  justify-content: space-between;
  flex: 0 auto;
  margin-bottom: 70px;
  @media (max-width: $lg) {
    margin-bottom: 60px;
    flex-direction: column;
    width: auto;
    height: 120px;
    justify-content: space-between;
  }
  @media (max-width: $md) {
    max-width: 100%;
  }
}

.trustedWrapper {
  display: flex;
  align-items: center;
  font-family: $font-gramatika;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 110%;
  p {
    white-space: nowrap;
  }
  @media (max-width: $md) {
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
  }
}
.companies {
  display: flex;
  align-items: center;
  margin-left: 32px;
  width: 100%;
  max-width: 400px;
  .companyLogo {
    filter: grayscale(100%);
    opacity: 0.3;
    max-width: 100px;
    width: 100%;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: $md) {
    margin-left: 0;
    margin-top: 20px;
    .сompanyLogo {
      max-width: 70px;
    }
  }
}

.imageWrapper {
  position: relative;
  width: 48%;
  .image {
    width: 88%;
    @media (max-width: $md) {
      height: 0px;
    }
  }
  z-index: 2;
  @media (max-width: $md) {
    width: 100%;
    .image {
      width: 100%;
      max-width: 100%;
    }
  }
}

.playButtonWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: calc(46% - 50px);
  top: 73%;
  @media (max-width: $lg) {
    top: 60%;
  }
  @media (max-width: $md) {
    flex-direction: column;
    top: 30%;
    left: 0;
    width: 100%;
    align-items: center;
  }
  .playButton {
    margin-bottom: 16px;
    @media (max-width: $md) {
      margin-bottom: 16px;
    }
  }
  .playButtonText {
    max-width: 101px;
    @media (max-width: $md) {
      max-width: 100%;
      text-align: center;
    }
    h4 {
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      line-height: 1.6;
    }
    p {
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.05em;
      opacity: 0.75;
    }
  }
}

.slide {
  display: flex;
  align-items: center;
}