@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  margin: 0 auto;
}

.list {
  display: flex;
}

.item {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.itemactive {
  background: $green-gradient;

  &:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background: $green-gradient;
    border: 3px solid white;
  }
}

.iteminactive {
  background-color: transparent;

  &:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    background: white;
  }
}