@import "fonts";
@import "reset";
@import "common";

.breadcrumb{
    display: flex;
    flex-direction: row;
    margin-left:3px;
    &__title{
        color: rgba(1, 25, 73, .5);
        font-weight: 300;
        font-size: 12px;
        line-height: 160%;
        text-transform: capitalize;
        
    }
    &__separator{
        margin: 0 0px 0 0px;
    }
  
    &__list{
        display: flex;
        flex-direction: row;
        color: rgba(1, 25, 73, .5);
        font-weight: 300;
        font-size: 12px;
        line-height: 160%;
        text-decoration: none;
        &:hover{
            color: rgba(1, 25, 73, .8);
        }
    }
    &__item{
        color: rgba(1, 25, 73, .5);
        font-weight: 300;
        font-size: 12px;
        line-height: 160%;
        text-decoration: none;
    }
    & a:not(&__link__active){
        display: none;
    }
    & a {
        margin-left:3px;
        color: rgba(1, 25, 73, .5);
        font-weight: 300;
        font-size: 12px;
        line-height: 160%;
        &:hover{
            color: rgba(1, 25, 73, .8);
        }
    }
  }

.isCurrent{
    color: #24B04B;
}

html,
body {
  scroll-behavior: smooth;
}

.consent-text.videoask-iframe {
    border-radius: 15px !important;
    height: 430px !important;
    background: radial-gradient(circle, rgb(255 255 255) 0%, rgb(228 225 225) 100%) !important;
    border: solid 3px #fff !important;
    font-family: Gramatika,sans-serif !important;
}

.videoask-iframe button {
    background: transparent !important;
    border: 2px solid #0119492e !important;
    border-radius: 20px 5px !important;
    color: #000 !important;
    padding: 15px 35px !important;
    font-family: Gramatika,sans-serif !important;
}