@import "fonts";
@import "reset";
@import "common";

.breadcrumb{
    display: flex;
    flex-direction: row;
    &__title{
        color: rgba(1, 25, 73, .5);
        font-weight: 300;
        font-size: 12px;
        line-height: 160%;
        text-transform: capitalize;
    }
    &__separator{
        margin: 0 5px;
    }
    &__list{
        display: flex;
        flex-direction: row;
        color: rgba(1, 25, 73, .5);
        font-weight: 300;
        font-size: 12px;
        line-height: 160%;
        text-decoration: none;
    }
    &__item{
        color: rgba(1, 25, 73, .5);
        font-weight: 300;
        font-size: 12px;
        line-height: 160%;
        text-decoration: none;
    }
    & a {
        color: rgba(1, 25, 73, .5);
        font-weight: 300;
        font-size: 12px;
        line-height: 160%;
    }
  }