@import '@styles/variables/all';
@import '@styles/mixins/all';

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 18px;
  @media (max-width: $md) {
    flex-wrap: wrap;
  }
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: $green;
  margin-bottom: 10px;
}
.item {
  @media (max-width: $lg) {
    width: 25%;
  }
  @media (max-width: $md) {
    width: 50%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 378px;
  @media (max-width: $lg) {
    max-height: 100%;
  }
}

.link {
  margin-right: 30px;
  margin-bottom: 12px;
  a {
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.75;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
