@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  background-color: $bg-blue;
  padding-top: 180px;
  padding-bottom: 106px;

  background-image: url('./images/pattern.png');
  background-size: auto 100vh;
  background-repeat: no-repeat;
  mix-blend-mode: luminosity;

  @media (min-width: $md) {
    padding-bottom: 134px;

    background-size: 100% auto;
  }
}
