@import '@styles/variables/all';
@import '@styles/mixins/all';

.hero {
  max-width: 1192px;
  padding: 64px 20px 40px;
  margin: 0 auto;
  @media (max-width: $md) {
    padding-top: 48px;
  }
}
.slider{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px 9px;
  border-radius: 30px;
  background-color: rgba(1, 25, 73, 0.1);
  font-family: $font-gramatika;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-right: 10px;
  color: #011949;
  &.active{
    background: linear-gradient(89.23deg, rgb(36, 176, 75) -46.17%, rgb(2, 99, 188) 186.99%);
    color: white;
  }
  &:hover{
    filter: brightness(110%) saturate(140%);
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 5px 10px rgba(44, 59, 82, 0.15);
  }
  @media screen and (max-width: 1000px) {
    margin-bottom: 12px;
  }
}
.title.category h1{
  strong{
    font-family: $font-gramatika;
    font-weight: 400;
    color: #011949;
    letter-spacing: 0.05em;
  }
}
.title h1 {
  font-family: $font-gramatika;
  font-weight: 400;
  font-size: 42px;
  line-height: 130%;
  margin: 0 auto 42px;
  
  text-align: center;
  strong {
    font-family: $font-gramatika-black;
    font-weight: 900;
    color: $green;
    letter-spacing: 0.03em;
  }
  @media (max-width: $md) {
    padding: 0 16px;
    text-align: left;
    font-size: 28px;
    margin-bottom: 28px;
  }
}
