@import '@styles/variables/all';
@import '@styles/mixins/all';

.section {
  position: relative;
  padding: 64px 20px 148px;
  max-width: 1056px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $md) {
    padding-bottom: 160px;
    flex-direction: column;
  }
}

.block {
  width: 100%;
}

.title {
  margin: 0 auto 32px;

  h2 {
    font-family: $font-gramatika;
    font-weight: 400;
    font-size: 42px;
    line-height: 130%;
    text-transform: capitalize;
    strong {
      font-family: $font-gramatika-black;
      font-weight: 900;
      letter-spacing: 0.03em;
      color: $green;
    }
    @media (max-width: $lg) {
      font-size: 32px;
    }
    @media (max-width: $md) {
      text-align: center;
      font-size: 28px;
    }
  }
}

.imageWrapper {
  position: relative;
  max-width: 540px;
  margin-left: 30px;
  &::before {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 17px;
    background: $main-dark;
    filter: blur(20px);
    border-radius: 50%;
    opacity: 0.8;
  }

  .image {
    position: relative;
  }

  @media (max-width: $md) {
    margin-left: 0;
  }
}

.buttonWrapper {
  width: 100%;
  max-width: 192px;
  @media (max-width: $md) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
  }
}
