@import '@styles/variables/all';
@import '@styles/mixins/all';

.HomePage {
  background-color: $bg-blue;
}

.testimonials {
  margin: 0px auto 0;

  @media (max-width: $lg) {
    margin-top: -120px;
  }

  @media (max-width: $md) {
    padding: 0;
  }
}

.ctaContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & .ctaContainerLeft {
    display: flex;
    flex-basis: 50%;
    max-width: 50%;
    background-color: #f7f9fb;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    @media (max-width: $md) {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 100%;
      background-image: url('../LandingPage/components/Hero/image/bg-hero.png');
      background-size: cover;
      top: 0;
      left: 0;
      opacity: 0.65;
    }
  }

  & .ctaContainerRight {
    display: flex;
    flex-basis: 50%;
    max-width: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: $md) {
      flex-basis: 100%;
      padding: 30px;
    }
  }
}

.subscribeContainer{
  margin: 128px 0;
}