@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('./image/seatchIcon.svg');
    background-size: cover;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
  }
}
.search {
  width: 100%;
  background: rgba($main-light, 0.05);
  border-radius: 8px 4px;
  padding: 11px 20px 8px 51px;
  font-family: $font-sofia-pro;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: $main-light;
  letter-spacing: 0.03em;
  box-shadow: none;
  border: none;
  &::placeholder {
    opacity: 0.75;
  }
  &:focus {
    outline: none;
  }
}
