@import '@styles/variables/all';
@import '@styles/mixins/all';

.item {
  position: relative;
  font-size: 12px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: $main-light;

  & + .item {
    margin-top: 16px;
  }
  &.active {
    font-weight: 700;
    color: $green;
    &::before {
      content: '';
      position: absolute;
      height: 27px;
      width: 3px;
      background: $green;
      border-radius: 3px;
      border: 2px solid #ffffff;
      top: 50%;
      transform: translateY(-50%);
      right: -25px;
    }
  }
}
