@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  padding: 10px;
  // width: 206px;
  // border: 1px solid rgba(1, 25, 73, 0.3);
  border-radius: 10px 25px;
  background: #FFFFFF;
  box-shadow: 0px 16px 60px rgba(28, 86, 76, 0.2);
  border-radius: 20px;
  flex-basis: 33%;
  position: relative;
  color: $main-light;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &:before{
    content: '';
    border: 1px solid rgba(1, 25, 73, 0.3);
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 24px;

  }
  &:last-child {
    margin-right: 0;
  }

}

.enterprise {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin: 60px 0 50px;
}

.colorized {
  border-color: rgba($darken-green, 0.3);
  background: $green-gradient;
  color: white;

  .button {
    box-shadow: 0px 20px 40px #1E4F4D;
    border: none;
  }
}

.colorizeddesktop {
  box-shadow: 0px 40px 100px rgba(28, 86, 76, 0.3);
}

.colorizedmobile {
  box-shadow: 0px 40px 30px rgba(28, 86, 76, 0.3);
}

.disabled {
  @media (max-width: $md) {
    display: none;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px 24px;
  padding: 24px 16px 16px;

  @media (min-width: $md) {
    height: 100%;
  }
}
.wrappperPrice{
  background-color: rgba(208, 218, 235, 0.5);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  height: 64px;

}
.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  h3{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  hr{
    background-color: rgba(208, 218, 235, 1);
    height: 1px;
    border: none;
    width: 100%;
  }
  h4 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.subtitle {
  margin-top: 2px;
  height: 34px;

  text-align: center;
  font-family: $font-gramatika;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  h4 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.cost {
  position: relative;

  display: flex;
  align-items: center;

  font-family: $font-gramatika;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  &:before {
    display: block;
    margin-right: 2px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
  &.USD {
    &:before {
      content: '$';
    }
  }

  &.EUR {
    &:before {
      content: '€';
    }
  }
}

.condition {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.text {
  margin: auto 0;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-sofia-pro;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  p{
    font-size: 14px;
    line-height: 140%;
  }
}

.checkItems{
  margin: 1.5rem 0;
}
.planBenefits{
  p{
    color: #011949;
    font-family: "Gramatika", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
}

:global{
  .liTag {
    position: relative;
    margin-bottom: 8px;
    &:before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url('./Correct.svg');
      background-size: contain;
      background-repeat: no-repeat;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }
    border: 1px solid #D0DAEB;
    border-radius: 8px;
    padding: 12px 16px 12px 45px;
  }
}
.footer {
  margin-top: auto;
  width: 100%;
  position: relative;
 
  .bottomClarification{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    p {
      font-family: $font-sofia-pro;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
      color: rgba(1, 25, 73, 0.5);
      display: flex;
      text-align: center;
      width: 100%;
      align-items: center;
      justify-content: center;
      align-self: center;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid rgba($main-light, 0.3);
  border-radius: 5px 20px;
  height: 48px;
  color:white;
  background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);  color: $main-light;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  text-transform: uppercase;
  margin-bottom: 34px;
  transition: 0.3s;
  span{
    color: white;
  }
  @media (min-width: $lg) {
    &:hover {
      color: $green;
      background: white;
      background: #FFFFFF;
      box-shadow: 0px 16px 60px rgba(28, 86, 76, 0.2);
    }
  }
}

.gradientText {
  background: $green-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
