@import "@styles/variables/all";
@import "@styles/mixins/all";
.solutions {
  padding: 128px 16px 0;
  text-align: center;
  background-color: #f7f9fb;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}

.title {
  font-family: $font-gramatika-black;
  font-weight: 900;
  font-size: 42px;
  line-height: 130%;
  max-width: 590px;
  margin: 0 auto 12px;
  span {
    color: $green;
    letter-spacing: 0.03em;
    text-transform: capitalize;
  }
}

.descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: $second-dark;
  opacity: 0.75;
  max-width: 620px;
  margin: 0 auto 100px;
}

.solutions [class~="swiper-container"] {
  overflow: unset;
}
.solutions [class~="swiper-wrapper"] {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 128px;
  }
  @media (min-width: 1150px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.slide {
  width: auto !important;
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px 30px;
  padding: 80px 28px 20px;
  text-align: center;
  color: $second-dark;
  font-size: 18px;
  line-height: 150%;
  width: 256px;
  text-decoration: none;
  min-height: 208px;
  @media (min-width: 1024px) {
    margin: 0 auto;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 50px;
    // opacity: 0.75;
    border-radius: 20px 5px;
    transition: 0.4s;
    z-index: -1;
  }
  &::before {
    top: 5px;
    left: 5px;
    background: $green-gradient;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  &::after {
    bottom: 5px;
    right: 5px;
    background: linear-gradient(226.96deg, #f58a7a 0%, #ffd182 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &:hover {
    box-shadow: 0px 50px 120px rgba(32, 42, 68, 0.2);
    &::before {
      top: -20px;
      left: -20px;
    }
    &::after {
      bottom: -20px;
      right: -20px;
    }
  }
  img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  h3 {
    font-weight: 600;
  }
  span {
    font-weight: 300;
  }
}
