@import '@styles/variables/all';
@import '@styles/mixins/all';

.page {
  padding-top: 188px;
  padding-bottom: 120px;
  background-color: $bg-blue;
  color: $main-light;
  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    max-width: 1152px;
    height: 354px;
    background: url('./image/bg.png'),
      linear-gradient(250.17deg, #4ca6cc -2.03%, #338dbe 102.35%);
    background-size: cover;
    border-radius: 12px 50px;
    top: 188px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: $lg) {
      display: none;
    }
  }
}

.container {
  position: relative;
  margin: 100px auto 128px;
  padding: 54px 90px 108px;
  background-color: #ffffff;
  max-width: 896px;
  box-shadow: 0px 30px 120px rgba(46, 66, 70, 0.2);
  border-radius: 30px;
  @media (max-width: $lg) {
    margin-top: 0;
    margin-bottom: 48px;
    box-shadow: 0px 30px 60px rgba(46, 66, 70, 0.2);
    padding: 48px 32px 56px;
  }
  @media (max-width: $md) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  font-family: $font-gramatika;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.date {
  opacity: 0.5;
  margin-left: 22px;
  line-height: 150%;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
}

.categoryItem {
  padding: 11px 12px 8px;
  background: rgba($main-light, $alpha: 0.1);
  border-radius: 100px;
  line-height: 14px;
  margin: 2px;
}

.title {
  font-family: $font-gramatika;
  font-size: 48px;
  font-weight: bold;
  line-height: 115%;
  text-align: center;
  margin-bottom: 8px;
  strong {
    color: $green;
  }
  @media (max-width: $md) {
    font-size: 32px;
  }
}

.description {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
  opacity: 0.75;
  max-width: 640px;
  padding-bottom: 64px;
  margin: 0 auto 64px;
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    width: 294px;
    height: 1px;
    background: $green-gradient;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: $lg) {
    padding-bottom: 32px;
    margin-bottom: 48px;
    font-size: 16px;
  }
}
