@import '@styles/variables/all';
@import '@styles/mixins/all';

.HomePage {
  background-color: $bg-blue;
}

.testimonials {
  margin: -180px auto 0;
  @media (max-width: $lg) {
    margin-top: -120px;
  }
  @media (max-width: $md) {
    padding: 0;
  }
}
