$main-dark: #030d21;
$main-light: #011949;
$green: #24b04b;
$darken-green: #197c35;
$bg-blue: #f0f0e4;
$second-dark: #2e3542;
$red: #ea2d2d;

$main-gradient: linear-gradient(267.5deg, #fb5f47 38.27%, #f9be5a 113.07%);
$green-gradient: linear-gradient(87.97deg, #24b04b -46.17%, #0263bc 186.99%);
$dark-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
