@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  @media (max-width: $md) {
    width: 100%;
  }
  .date {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid rgba($main-light, 0.15);
    box-sizing: border-box;
    border-radius: 12px;
    color: $main-light;
    width: 233px;
    height: 52px;
    background: rgba($main-light, 0.03);
    padding: 11px 38px 8px 22px;
    transition: border-color 0.3s;
    font-family: $font-sofia-pro;
    &:hover {
      border-color: $main-light;
    }
    &::before {
      content: url('./image/booking-icon.svg');
      position: absolute;
      right: 18px;
    }
    @media (max-width: $md) {
      width: 100%;
    }
  }
  .wrapper {
    position: absolute;
    right: 0;
    align-items: center;
    z-index: 11;
    top: calc(100% + 8px);
  }
  :global {
    .rdrInputRanges {
      display: none;
    }

    .rdrDateRangePickerWrapper {
      border-radius: 12px;
      box-shadow: 0px 20px 60px rgba(46, 66, 70, 0.2);
    }
    .rdrCalendarWrapper {
      width: 328px;
      padding: 0 28px;
      @media (max-width: $md) {
        padding: 0 16px;
        width: 280px;
      }
    }
    .rdrMonth {
      width: 100%;
    }

    .rdrMonthAndYearWrapper {
      justify-content: center;
      margin-bottom: 10px;
      margin-top: 18px;
      padding: 0;
      height: 32px;
    }
    .rdrMonthAndYearPickers {
      font-family: $font-gramatika;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      flex: none;
      color: $main-light;
    }

    .rdrNextPrevButton {
      background: none;

      &:hover {
        background: none;
        opacity: 0.8;
      }

      i {
        border: solid $green;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
      }
      &.rdrNextButton {
        i {
          transform: rotate(-45deg);
        }
      }
    }

    .rdrWeekDays {
      margin-bottom: 16px;
    }
    .rdrMonthName {
      display: none;
    }

    .rdrWeekDay {
      color: $main-light;
      font-weight: bold;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    .rdrDayNumber {
      top: 4px;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.22px;
      color: #3c3844;
    }

    .rdrDay {
      color: #3c3844;
    }

    .rdrDayToday .rdrDayNumber span:after {
      background: $green;
    }

    .rdrDefinedRangesWrapper {
      display: flex;
      align-items: flex-end;
      width: 164px;
      padding: 24px 32px 24px 24px;
      border: none;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% - 48px);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $main-light;
        opacity: 0.15;
      }
      @media (max-width: $md) {
        display: none;
      }
    }

    .rdrStaticRange {
      border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: $main-light;
      opacity: 0.75;
      &:hover {
        .rdrStaticRangeLabel {
          background: linear-gradient(
            88.32deg,
            #24b04b -46.17%,
            #0263bc 186.99%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      &.rdrStaticRangeSelected {
        .rdrStaticRangeLabel {
          background: linear-gradient(
            88.32deg,
            #24b04b -46.17%,
            #0263bc 186.99%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      & + .rdrStaticRange {
        margin-top: 24px;
      }

      .rdrStaticRangeLabel {
        padding: 0;
      }
    }
  }
}
