@import '@styles/variables/all';
@import '@styles/mixins/all';

.item {
  display: block;
  position: relative;
  background: #f1f4f9;
  border-radius: 50px 12px;
  padding: 46px 45px 56px;
  margin-bottom: 74px;
  width: 100%;
  color: $main-dark;
  text-align: left;
  height: 100%;
  @media (max-width: $lg) {
    border-radius: 32px 12px;
    padding: 32px 24px 56px;
    margin-bottom: 32px;
  }
  @media (max-width: $md) {
    padding: 24px 16px 56px;
  }

  &:hover {
    box-shadow: inset 0 0 0 3px #fff, 20px 20px 80px rgba(80, 109, 137, 0.2),
      -20px -20px 30px #ffffff;
    .buttonWrapper {
      opacity: 1;
    }
    .imageWrapper {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }
}

.title h3 {
  font-family: $font-gramatika;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  max-width: 850px;
  margin: 0 auto 16px;
  text-align: left;
  strong {
    font-family: $font-gramatika-black;
    font-weight: 900;
    color: $green;
    letter-spacing: 0.03em;
    
  }
  @media (max-width: $lg) {
    text-align: left;
    font-size: 28px;
  }
  @media (max-width: $md) {
    font-size: 24px;
  }
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: $second-dark;
  margin-bottom: 45px;
  @media (max-width: $md) {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
}

.imageWrapper {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: calc(100% + 30px);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    @media (max-width: $lg) {
      display: none;
    }
  }
  &::before {
    background-image: url('../../image/bg-item-right.svg');
    left: -12px;
  }
  &::after {
    background-image: url('../../image/bg-item-left.svg');
    background-position: right;
    width: 20%;
    right: -12px;
  }
}

.image {
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 51.5502px 72.1703px rgba(44, 59, 82, 0.15);
  z-index: 3;
}

.buttonWrapper {
  position: absolute;
  max-width: 220px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -24px;
  opacity: 0;
  transition: opacity 0.3s;
  @media (max-width: $lg) {
    opacity: 1;
  }
}
