@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  border-radius: 30px 5px;
  padding: 28px 24px 16px;

  background-color: #ffffff;

  @media (min-width: $md) {
    border-radius: 50px 5px;
    padding: 48px 48px 16px;
  }
}

// header -->

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $md) {
    justify-content: flex-start;
  }
}

.author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  white-space: nowrap;

  @media (min-width: $md) {
    font-size: 24px;
  }
}

.stars {
  @media (min-width: $md) {
    margin-left: 24px;
  }
}

// main -->

.main {
  margin-top: 16px;

  @media (min-width: $md) {
    margin-top: 24px;
  }
}

.text {
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.75;

  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  @media (min-width: $md) {
    font-size: 18px;

    p {
      -webkit-line-clamp: 3;
    }
  }
}

// footer -->

.footer {
  margin-top: 42px;
  border-top: 1px solid rgba($main-light, 0.05);
  padding-top: 16px;

  @media (min-width: $md) {
    margin-top: 32px;
  }
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $darken-green;

  @media (min-width: $md) {
    font-size: 16px;
  }

  &.short {
    @media (min-width: $md) {
      display: none;
    }
  }

  &.full {
    display: none;

    @media (min-width: $md) {
      display: block;
    }
  }
}

.logotype {
  margin-left: 16px;
}
