@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  animation: appearance 0.3s 1 forwards;
}

.container {
  display: flex;
}

.block {
  display: flex;
  width: 920px;
  padding-left: 10px;
}

.switcher {
  width: 240px;
  box-shadow: 0px 50px 70px rgba(44, 59, 82, 0.15);
  border-radius: 12px 30px;
  padding: 12px;
  background: #ffffff;
  color: $main-light;
  font-family: $font-gramatika;
}

.condition {
  p{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    color: #677592;
    font-size: 14px;

  }
  strong{
    background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.card {
  flex-basis: calc(29% + 3px);
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.widgetSlider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 0px;
  background: linear-gradient(89.52deg, rgba(36, 176, 75, 0.2) -46.17%, rgba(2, 99, 188, 0.2) 186.99%);
  border-radius: 8px;
  width:100%;
  margin-top: 2rem;
  position: relative;

  .text {
    p{
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      color: #677592;
      font-size: 14px;
      background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.slide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main {
  margin: 48px -16px 0;

  @media (min-width: $md) {
    margin: 0;
    margin-left: 16px;
  }
}

.disabled {
  display: none;
}

.widgetSlider{
  :global {
    .swiper-container {
      width: 100%;
    }
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide {
      transform: translatex(-4px);

      display: flex;
      align-items: center;
      div{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      pre{
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        margin-left: -5px;
        transform: translatey(-3px);
        /* Linear */

        background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}



@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
