@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  animation: appearance 0.3s 1 forwards;
}

.container {
  display: flex;
}

.block {
  display: flex;
  width: 920px;
  padding-left: 10px;
  margin-left: 280px;
}

.switcher {
  width: 240px;
  box-shadow: 0px 50px 70px rgba(44, 59, 82, 0.15);
  border-radius: 12px 30px;
  padding: 32px;
  background: #ffffff;
  color: $main-light;
  font-family: $font-gramatika;
}

.card {
  flex-basis: calc(29% + 3px);
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
