@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  padding: 10px;
  width: 206px;
  border: 1px solid rgba(1, 25, 73, 0.3);
  border-radius: 10px 25px;

  color: $main-light;
  margin-right: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    margin-right: 0;
  }
}

.enterprise {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin: 60px 0 50px;
}

.colorized {
  border-color: rgba($darken-green, 0.3);
  background: $green-gradient;
  box-shadow: 0px 40px 100px rgba(28, 86, 76, 0.3);
  color: white;

  .button {
    box-shadow: 0px 20px 40px #1E4F4D;
    border: none;
  }
}

.disabled {
  @media (max-width: $md) {
    display: none;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px 24px;
  padding: 24px 16px 16px;

  @media (min-width: $md) {
    height: 100%;
  }
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  h4 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.subtitle {
  margin-top: 2px;
  height: 34px;

  text-align: center;
  font-family: $font-gramatika;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  h4 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.cost {
  position: relative;

  display: flex;
  align-items: center;
  margin-top: 23px;

  font-family: $font-gramatika;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  &:before {
    transform: translateY(6px);

    display: block;
    margin-right: 2px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    opacity: 0.5;
  }
  &.USD {
    &:before {
      content: '$';
    }
  }

  &.EUR {
    &:before {
      content: '€';
    }
  }
}

.condition {
  margin-top: 8px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.text {
  margin: auto 0;

  font-family: $font-sofia-pro;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.footer {
  margin-top: 24px;
  width: 100%;
  max-width: 204px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba($main-light, 0.3);
  border-radius: 5px 20px;
  height: 48px;

  background: #ffffff;
  color: $main-light;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: 0.3s;

  @media (min-width: $lg) {
    &:hover {
      color: $green;
      border-color: $green;
    }
  }
}

.gradientText {
  background: $green-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
