@import '@styles/variables/all';
@import '@styles/mixins/all';

.button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
  box-shadow: none;
  border: none;
  background: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $main-light;
  transition: 0.3s;
  &:hover {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: $green-gradient;
    svg path {
      fill: $green;
    }
  }

  svg {
    margin-top: 6px;
  }
}
