@import '@styles/variables/all';
@import '@styles/mixins/all';

.HomePage {
  position: relative;
  background-color: $bg-blue;
  padding: 160px 20px 100px;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./image/bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
  }
  @media (max-width: $lg) {
    &::after {
      display: none;
    }
  }
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 140px auto 60px;
  @media (max-width: $lg) {
    margin-top: 40px;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  font-family: $font-gramatika;
  font-weight: bold;
  font-size: 48px;
  line-height: 115%;
  
  max-width: 400px;
  @media (max-width: $lg) {
    font-size: 32px;
    max-width: 500px;
    margin-bottom: 32px;
  }
}
