@import '@styles/variables/all';
@import '@styles/mixins/all';

.footer {
  overflow-x: hidden;

  padding: 64px 64px 26px 64px;
  background-color: $second-dark;
  border-radius: 20px 20px 0px 0px;
  margin-top: -10px;
  z-index: 2;
  @media (max-width: $lg) {
    padding: 16px;
  }
}
.container {
  max-width: 1152px;
  margin: 0 auto;
}

.banners {
  display: flex;
  justify-content: space-between;
  @media (max-width: $lg) {
    flex-direction: column;
    align-items: center;
  }
}

.switcherWrapper {
  display: flex;
  justify-content: flex-end;

  @media (max-width: $md) {
    justify-content: flex-start;
  }

  @media (max-width: $lg) {
    margin-right: 50px;
  }

  @media (max-width: $xl) {
    margin-right: 0;
  }
}

.quizWrapper {
  display: flex;
  align-items: center;
  padding: 22px 26px 22px 48px;
  border-radius: 12px;
  background-color: rgba($color: #c4c4c4, $alpha: 0.15);
  max-width: 544px;
  justify-content: space-between;
  margin-right: 40px;
  width: 100%;
  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    
    color: #ffffff;
    max-width: 200px;
  }
  @media (max-width: $lg) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  @media (max-width: $md) {
    padding: 26px;
    flex-direction: column;
    h3 {
      max-width: 100%;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  padding-top: 28px;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
  justify-content: space-between;
  @media (max-width: $md) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.copyright {
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.5;
  @media (max-width: $md) {
    order: 2;
    width: 100%;
    margin-top: 16px;
    text-align: center;
    margin-left: 0;
  }
}

.social {
  display: flex;
  align-items: center;
  li + li {
    margin-left: 18px;
  }
  @media (max-width: $md) {
    order: 1;
    margin: 0 auto;
  }
}

.badgesWrapper {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $md) {
    justify-content: space-between;
  }
  @media (max-width: $sm) {
    justify-content: center;
    padding-left: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
  }
}

.badges {
  margin-right: 15px;
  @media (max-width: $sm) {
    margin-bottom: 36px;
    margin-right: 40px;
    transform: scale(1.2);
  }
}

.badges:nth-last-child(1) {
  margin-right: 0;
  @media (max-width: $sm) {
    margin-right: 40px;
  }
}

