@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  margin: 60px auto 0;
  padding: 0 16px;
  max-width: 1232px;
}

.wrappermobile {
  padding: 0;
}

// floated bar -->

.bar {
  position: fixed;
  top: 98px;
  left: 0;
  z-index: 100;
  width: 100vw;
}

// component -->

.body {
  margin-top: 78px;

  @media (min-width: $md) {
    display: flex;
    margin-top: 40px;
  }
}

.bodymobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  .sidebar {
    margin: 36px auto 48px auto;
  }

  .main {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.sidebar {
  width: calc(100% - 24px);
  @media (min-width: $lg) {
    width: 240px; 
  }
  box-shadow: 0px 50px 70px rgba(44, 59, 82, 0.15);
  border-radius: 12px 30px;
  padding: 12px;
  height: 300px;
  background: #ffffff;
  margin-top: 23px;
  z-index: 3;

}

.condition {
  opacity: 0;
  &.visible{
    opacity: 1;
  }
  p{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    color: #677592;
    font-size: 14px;

  }
  strong{
    background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.widgetSlider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 0px;
  background: linear-gradient(89.52deg, rgba(36, 176, 75, 0.2) -46.17%, rgba(2, 99, 188, 0.2) 186.99%);
  border-radius: 8px;
  width:100%;
  margin-top: 2rem;
  position: relative;

  .text {
    p{
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      color: #677592;
      font-size: 14px;
      background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.slide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main {
  margin: 48px -16px 0;

  @media (min-width: $md) {
    margin: 0;
    margin-left: 16px;
  }
}

.disabled {
  display: none;
}

.widgetSlider{
  :global {
    .swiper-container {
      width: 100%;
    }
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      transform: translatex(-4px);

      div{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      pre{
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        margin-left: -5px;
        transform: translatey(-3px);
        /* Linear */

        background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}
