@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  margin: 80px auto 0;
  padding: 0 16px;
  max-width: 1232px;
}

.wrappermobile {
  padding: 0;
}

// floated bar -->

.bar {
  position: fixed;
  top: 98px;
  left: 0;
  z-index: 100;
  width: 100vw;
}

// component -->

.body {
  margin-top: 78px;

  @media (min-width: $md) {
    display: flex;
    margin-top: 64px;
  }
}

.bodymobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  .sidebar {
    margin: 36px auto 48px auto;
  }

  .main {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.sidebar {
  width: 240px;
  box-shadow: 0px 50px 70px rgba(44, 59, 82, 0.15);
  border-radius: 12px 30px;
  padding: 12px;
  height: 300px;
  background: #ffffff;
}

.condition {
  p{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    color: #677592;
    font-size: 14px;

  }
  strong{
    background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.widgetSlider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 0px;
  background: linear-gradient(89.52deg, rgba(36, 176, 75, 0.2) -46.17%, rgba(2, 99, 188, 0.2) 186.99%);
  border-radius: 8px;
  height: 56px;
  width:100%;
  margin-top: 2rem;
  position: relative;

  .text {
    p{
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      color: #677592;
      font-size: 14px;
      background: linear-gradient(89.52deg, #24B04B -46.17%, #0263BC 186.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.slide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main {
  margin: 48px -16px 0;

  @media (min-width: $md) {
    margin: 0;
    margin-left: 16px;
  }
}

.disabled {
  display: none;
}

.widgetSlider{

 :global {
   .swiper-container {
     padding: 0 30px;
     max-width: 206px;
     &::before,
     &::after {
       content: '';
       position: absolute;
       height: 100px;
       width: 30px;
       background-color: rgba(67, 73, 85, 1);
       left: -2px;
       top: 0;
       z-index: 3;
     }
     &::after {
       content: '';
       left: unset;
       right: -2px;
     }
     @media (max-width: $md) {
       max-width: 290px;
     }
   }
   .next,
   .prev {
     position: absolute;
     top: 50%;
     left: 0;
     border: solid #fff;
     border-width: 0 2px 2px 0;
     display: inline-block;
     padding: 3px;
     cursor: pointer;
     z-index: 11;
   }
   .prev {
     transform: rotate(135deg);
     left: 2px;
   }
   .next {
     left: unset;
     right: 2px;
     transform: rotate(-45deg);
   }
   .prev.swiper-button-disabled,
   .next.swiper-button-disabled {
     opacity: 0.3;
   }
 }
}
