@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  box-shadow: 0px 40px 100px rgba(28, 86, 76, 0.3);
  border-radius: 20px;
  padding: 16px;

  background: #ffffff;
  color: $main-light;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: space-around;
  &.colorized {
    background: $green-gradient;
    color: #ffffff;

    .button {
      border-color: transparent;

      @media (min-width: $md) {
        &:hover {
          box-shadow: 0px 20px 40px #1e4f4d;
        }
      }
    }
  }
}

.wrapperPrice{
  margin-top: 1.1rem;

  background-color: rgba(208, 218, 235, 0.5);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.type {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  h3 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title{
  width: 100%;
}
.name {
  font-weight: 300;
  height: 34px;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  h4 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

hr{
  background-color: rgba(208, 218, 235, 1);
  height: 1px;
  border: none;
  width: 100%;
}

.cost {
  position: relative;

  display: flex;
  align-items: center;

  font-family: $font-gramatika;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  &:before {
    display: block;
    margin-right: 2px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
  &.USD {
    &:before {
      content: '$';
    }
  }

  &.EUR {
    &:before {
      content: '€';
    }
  }
}

.condition {
  p{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $main-dark;
  }
}

.enterprise {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin: 20px 0 27px;
}

.footer {
  width: 100%;
}

.button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid rgba($main-light, 0.3);
  border-radius: 5px 20px;
  height: 48px;

  background: $green-gradient;
  color: white;

  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: 0.3s;

  @media (min-width: $lg) {
    &:hover {
      color: $green;
      background-color: white;
      border: 1px solid $green;
    }
  }
}

.gradientText {
  background: $green-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
