@import '@styles/variables/all';
@import '@styles/mixins/all';

.arrow {
  position: absolute;
  top: 50%;
  z-index: 11;
  cursor: pointer;
  svg path {
    transition: 0.3s;
  }
  &:not(:hover) {
    svg path {
      fill: $main-dark;
    }
  }
  &[class~='swiper-button-disabled'] {
    opacity: 0.3;
    svg path {
      fill: $main-dark;
    }
  }
  @media (max-width: $md) {
    display: none;
  }
}

.next {
  right: 0;
  transform: scale(-1, 1);
}
.prev {
  left: 0;
}
