@import '@styles/variables/all';
@import '@styles/mixins/all';

.preview {
  max-width: 320px;
  border-radius: 20px;
  background: #ffffff;
  border-radius: 20px;
  transition: box-shadow 0.3s;

  &:hover {
    width: auto;
    box-shadow: 0px 50px 70px rgba(44, 59, 82, 0.15);
    .textBlock {
      height: 263px;
      padding-bottom: 48px;
    }
    .imagePreview {
      padding-bottom: 121px;
      @media (max-width: $md) {
        padding-bottom: 100px;
      }
    }

    .arrow {
      opacity: 1;
    }
  }

  @media (max-width: 1050px) {
    max-width: 290px;
  }

  @media (max-width: $lg) {
    max-width: 320px;
  }
}
.imagePreview {
  position: relative;
  padding-bottom: 144px;
  border-radius: 20px;
  background: #ffffff;
  transition: 0.3s;
  border-radius: 12px;
  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 12px;
  }
  @media (max-width: $md) {
    padding-bottom: 124px;
  }
}
.placeholder {
  width: 100%;
  height: 180px;
  background: url('./image/bg.png'),
    linear-gradient(250.17deg, #4ca6cc -2.03%, #338dbe 102.35%);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-radius: 12px;
}

.textBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 22px 27px 27px;
  background: #ffffff;
  color: $main-light;
  border-radius: 20px;
  max-width: 320px;
  box-sizing: border-box;
  height: 240px;
  transition: 0.3s;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 5px;
}

.text {
  font-weight: 300;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.05em;
  opacity: 0.75;
  margin-bottom: auto;
  max-height: 40px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right:6px;
  gap: 3px;
  margin-top: 0.5rem;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 30px;
  background-color: rgba(1, 25, 73, 0.1);
  font-family: $font-gramatika;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  span{
    transform: translatey(-2px);
    display: flex;
  }
}

.date {
  font-family: $font-gramatika;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.5;
  text-align: end;
  align-self: end;
}

.arrow {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  @media (max-width: $md) {
    display: none;
  }
}
