@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 8px 8px 0px 0px;
  padding: 12px 24px 8px;
  min-width: 152px;

  background: $green-gradient;
  color: white;

  font-family: $font-gramatika;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

.selected {
  position: relative;
  z-index: 10;

  background: #ffffff;
  color: #000000;
}
