@import '@styles/variables/all';
@import '@styles/mixins/all';

.wrapper {
  margin: 48px auto 0;
  padding: 0 16px;
  max-width: 1232px;

  @media (min-width: $md) {
    margin-top: 64px;
  }
}

.title {
  display: flex;
  align-items: center;

  font-family: $font-sofia-pro;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-transform: capitalize;

  h3 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  &:after {
    content: '';

    flex-grow: 1;
    display: block;
    margin-left: 16px;
    height: 1px;

    background-color: $main-light;

    opacity: 0.1;
  }
}

.list {
  margin-top: 16px;

  @media (min-width: $md) {
    margin-top: 48px;
    padding-right: 16px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-of-type(odd) {
    .cell {
      background-color: rgba($main-light, 0.03);
    }
  }
}

.statuses {
  display: flex;
  padding: 0 24px;
}

.statusesdesktop {
  width: 920px;
}

.statusesmobile {
  width: calc(100% - 180px);
  overflow-x: scroll;
}

.name {
  flex-shrink: 0;
  margin-right: auto;

  font-family: $font-sofia-pro;
  font-weight: 300;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.05em;

  h4 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.namedesktop {
  width: 240px;
}

.namemobile {
  width: 180px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 48px;
  margin-right: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }

  :global(.default-text) {
    color: $main-light;

    opacity: 0.5;
  }
}

.cellmobile {
  width: 100%;
}

.celldesktop {
  width: calc((100% - 48px) / 4);
}