@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  height: 183px;
  background: linear-gradient(89.52deg, #24b04b -46.17%, #0263bc 186.99%);
  border-radius: 50px 12px;
}
.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 54px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}
.title {
  font-family: $font-sofia-pro;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */

  display: flex;
  align-items: center;
  text-transform: capitalize;

  /* white */

  color: #ffffff;
  h4 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
.divider {
  width: 230px;
  height: 0px;
  border: 1px solid #d0daeb;
}
.text {
  font-family: $font-sofia-pro;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  text-align: center;
  /* Main light */
  color: #011949;
  text-align: center;
  inline-size: 70px;
  overflow: hidden;
}

.priceContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 10px;
  background: rgba(234, 237, 242, 0.75);
  border: 1px solid rgba(208, 218, 235, 0.5);
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.enterprise {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin: 60px 0 50px;
}

.colorized {
  border-color: rgba($darken-green, 0.3);
  background: $green-gradient;
  color: white;

  .button {
    box-shadow: 0px 20px 40px #1e4f4d;
    border: none;
  }
}

.colorizeddesktop {
  box-shadow: 0px 40px 100px rgba(28, 86, 76, 0.3);
}

.colorizedmobile {
  box-shadow: 0px 40px 30px rgba(28, 86, 76, 0.3);
}

.disabled {
  @media (max-width: $md) {
    display: none;
  }
}

.priceContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 10px;
  background: rgba(234, 237, 242, 0.75);
  border: 1px solid rgba(208, 218, 235, 0.5);
  border-radius: 8px;
  // flex: none;
  // order: 0;
  // align-self: stretch;
  // flex-grow: 0;
}

.cost {
  font-family: $font-sofia-pro;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  text-align: center;
  color: #011949;

  &:before {
    transform: translateY(6px);

    display: block;
    margin-right: 2px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    opacity: 0.5;
  }
  &.USD {
    &:before {
      content: '$';
    }
  }

  &.EUR {
    &:before {
      content: '€';
    }
  }
}

.description {
  font-family: $font-sofia-pro;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  text-align: center;

  /* Main light */

  color: #011949;

  /* Inside auto layout */

  text-align: center;
  inline-size: 150px;
  overflow: hidden;
}

.subTitle {
  font-family: $font-sofia-pro;
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  margin-top: 0;

  h4 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.footer {
  // margin-top: 24px;
  // width: 100%;
  // max-width: 204px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 32px;
  gap: 10px;
  width: 326.67px;
  height: 46px;
  background: linear-gradient(89.52deg, #24b04b -46.17%, #0263bc 186.99%);
  border-radius: 20px 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.button {
  // border: 1px solid rgba($main-light, 0.3);
  // border-radius: 5px 20px;
  // height: 48px;

  // background-image: linear-gradient(90deg, #24b04b -116%, #0262bc 466%);
  // color: $main-light !important;
  // font-weight: bold;
  // font-size: 16px;
  // line-height: 1.8;
  // text-transform: uppercase;

  height: 25px;

  font-family: $font-sofia-pro;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* white */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  transition: 0.3s;

  @media (min-width: $lg) {
    &:hover {
      // box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    }
  }
}

.gradientText {
  background: $green-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
